# Dart/Pub
.dart_tool/
.packages
.pub-cache/
build/
# Android
android/.gradle/
android/.idea/
android/local.properties
android/*.iml

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/.symlinks/
ios/Pods/
ios/.flutter-plugins
ios/.flutter-plugins-dependencies
ios/.generated/
ios/.dart_tool/
ios/Flutter/App.framework
ios/Flutter/ephemeral/

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/.symlinks/
macos/.dart_tool/
macos/.flutter-plugins
macos/.flutter-plugins-dependencies

# Windows
windows/ephemeral/
windows/.dart_tool/
windows/flutter/

# Web
web/.dart_tool/
web/.idea/

# Xcode
**/xcuserdata/
**/dgph
*.xcworkspace
*.xcodeproj/project.xcworkspace/

# VSCode
.vscode/

# IntelliJ
*.iml
.idea/

# Misc
.flutter-plugins
.flutter-plugins-dependencies
.flutter-plugins-legacy
.metadata
.env
.env.*

# Coverage
coverage/
*.lcov

# Others
*.log
pubspec.lock
